<!DOCTYPE html>
<html>
  <head>
    <title>Teachify</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!--top nav-->
    <div id="flex-content-container">
      <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <%= link_to 'Teachify', root_path, class: 'navbar-brand' %>
        

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <!--top nav page links-->
          <ul class="navbar-nav mr-auto mt-2 mt-md-0">
            <li class="nav-item">
            <i class="fa fa-graduation-cap"></i>
              <%= link_to 'Start Learning!', '#', class: 'nav-link' %>
            </li>
          </ul>
        <!--end top nav page links-->
        <!--top nav login-->
          <ul class="navbar-nav">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Sign up', new_user_registration_path, class: 'nav-link' %>
            </li>
          <% end %>
          </ul>
        <!--end top nav login-->
        </div>
      </nav>
  

    <!--devise alerts-->
      <% if notice.present? %>
        <p class="alert alert-info"><%= notice %></p>
      <% end %>
      <% if alert.present? %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
    <!--end devise alerts-->
      <%= yield %>
    </div>
  <!--end nav-->
  <!--footer-->
    <div id="footer">
      <div class="container">
        <b>Teachers</b>
        <br />
        <%= link_to 'Teach a Course', new_instructor_course_path %>
      </div>
    </div>
  <!--end footer-->
  </body>
</html>
